.container_articles_recents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.articles_recents {
    background-color: var(--e-global-color-accent);
    padding: 15px;
    flex: calc(100% / 3);
    max-width: calc(100% / 3 - 30px);
}

.title_article {
    color: var(--e-global-color-primary);
    margin-bottom: 10px;
    margin-top: 0 !important;
}

.authors {
    color: var(--e-global-color-text);
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0 10px 0;
}

.collection {
    color: var(--e-global-color-primary);
    margin: 0 !important;
    font-size: 15px;
}

.pages {
    color: var(--e-global-color-primary);
    margin-bottom: 5px !important;
    font-size: 15px;
}

.lire_article {
    text-transform: uppercase;
}

.url_article {
    color: var(--e-global-color-text);
    text-decoration: underline;
    font-size: 18px;
    margin-top: 10px;
}

.url_article:hover {
    color: var(--e-global-color-secondary);
    transition: 0.5s;
}

/* Media queries pour les différentes tailles d'écran */

@media screen and (max-width: 1200px) {
    .articles_recents {
        flex: calc(100% / 2);
        max-width: calc(100% / 2 - 30px);
    }
}

@media screen and (max-width: 768px) {
    .articles_recents {
        flex: 100%;
	max-width: 100%;
    }
}

